@model Randomizer.Models.GrozdiRecenzenti

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>GrozdiRecenzenti</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GrozdRecenzentID" />
            <div class="form-group">
                <label asp-for="GrozdID" class="control-label"></label>
                <select asp-for="GrozdID" class="form-control" asp-items="ViewBag.GrozdID"></select>
                <span asp-validation-for="GrozdID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecenzentID" class="control-label"></label>
                <select asp-for="RecenzentID" class="form-control" asp-items="ViewBag.RecenzentID"></select>
                <span asp-validation-for="RecenzentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vloga" class="control-label"></label>
                <input asp-for="Vloga" class="form-control" />
                <span asp-validation-for="Vloga" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrijavaID" class="control-label"></label>
                <select asp-for="PrijavaID" class="form-control" asp-items="ViewBag.PrijavaID"></select>
                <span asp-validation-for="PrijavaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
