@{
    ViewData["Title"] = "Domov";
}

<div class="text-center">
    <h1 class="display-4">Dobrodošli v sistemu za dodeljevanje recenzentov</h1>
    <p class="lead">Uporabite navigacijo na levi strani za dostop do različnih funkcionalnosti.</p>

    <div class="mt-4">
        <h2>Splošne informacije</h2>
        <p>Ta aplikacija vam omogoča upravljanje recenzentov, prijav in zavrnitev.</p>
        <p>Lahko izberete posamezne funkcionalnosti v meniju na levi strani za upravljanje recenzentov, obdelavo zavrnitev, in primerjavo podatkov z Excel datotekami.</p>
    </div>

    <div class="mt-4">
        <h2>Hiter dostop</h2>
        <a class="btn btn-primary" href="@Url.Action("DodeliRecenzente", "Home")">Začni dodeljevanje recenzentov</a>
        <a class="btn btn-danger" href="@Url.Action("PocistiDodelitve", "Home")">Počisti dodelitve recenzentov</a>
    </div>

    <div class="mt-4">
        <h2>Navodila</h2>
        <p>Za več informacij o tem, kako uporabljati sistem, si oglejte razdelek o dodeljevanju recenzentov, obdelavi zavrnitev in drugih funkcionalnostih.</p>
    </div>
</div>
